<section class="home about">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
				<h1>Transcribe the <em>Bomb</em></h1>
                <p><strong>Transcribe the <em>Bomb</em></strong> is the inaugural effort of the <a href="http://www.lib.iastate.edu/">Iowa State University Library</a> <em>Unsolved Histories</em> program. Managed by the <a href="http://di.lib.iastate.edu/">Digital Initiatives</a> unit, <em><a href="http://unsolved.lib.iastate.edu/">Unsolved Histories</a></em> relies on the help of volunteers to reveal and “detect” hidden people and places in unique ISU library collections through transcription, tagging, and/or naming. </p>

                <p>If you’d prefer to just browse, the entire run of yearbooks is available in the <a href="http://digitalcollections.lib.iastate.edu/bombs"><em>Bomb</em> digital collection</a>.</p>
                <p>However, we’d love to have you join us in transcribing the <em>Bomb</em>! Get started by <a href="{{url_for('account.register')}}">creating an account</a> or contributing <a href="http://yearbook.lib.iastate.edu/project/yearbooktranscribe/newtask">anonymously</a>.</p>
<Paste>
            </div>
        </div>
    </div>
</section>
