{% extends "base.html" %}
{% import "projects/_helpers.html" as helper %}
{% import "account/_helpers.html" as account_helper %}
{% block content %}
<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 main">
                <img class="responsive" src="{{url_for('static', filename='img/BombsPB3.png')}}"/>
                <div class="bubble">
                    <h1>Bomb (ISU Yearbooks)</h1>
                    <p>Published annually for the graduating classes of 1894 through 1994,
                        with the exception of 1902. The digital collection contains the entire
                        run of yearbooks, including Centennial Album.</p>
                </div>
                <div>
                    <p>The Iowa State University Library completed a six year project to digitize the entire run of the campus yearbook, the <em>Bomb</em> in 2016. Consisting of over 45,000 pages, and a century of memories, the <em>Bomb</em> documents the bulk of Iowa State University's history. Unfortunately, the digital versions are not easily searchable.</p>
                    <p>Over the years, the volumes have employed varied fonts, graphic elements, and other aspects of the yearbook's design that do not translate well to automated transcription processes.</p>
                    <p>This is where you come in!</p>
                    <p>We need your help to transcribe the pages of the Bomb so that they are searchable.</p>
                    <p>Help people find themselves, their families and friends, moments in time, and documentation of world events by participating in our <strong>Transcribe the <em>Bomb</em></strong> project.</p>
                    <p>Get started by clicking the button below.</p>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="home featured">
    <div class="jumbotron">
        <div class="container text-center firstfold">
            {% if categories_projects['featured'] | count > 0 %}
            {% set featured_project = categories_projects['featured'] | random %}
            <!--<h1>{{ featured_project.name }}</h1>-->
            <!-- <p>{{ featured_project.description }}</p>-->
            <a class="btn btn-primary btn-iowa" href="{{ url_for('project.details', short_name=featured_project.short_name)}}">{{_('Start')}}</a>
            {% endif %}
        </div>
    </div>
</section>
<!--<section class="home projects">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
               {% for f in categories_projects['featured'] %}
               <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-4">
                   <div class="thumbnail card">
                       <div class="post-pic" style="background: #546e7b url({{helper.render_url_thumbnail(f, upload_method)}}) no-repeat center top; background-size: cover;"></div>
                       <div class="caption">
                           <h3>{{f.name}}</h3>
                           <p>{{f.description}}</p>
                           <p class="readmore"><a href="{{ url_for('project.details', short_name=f.short_name)}}">{{_('Contribute')}}</a></p>
                       </div>
                   </div>
               </div>
               {% endfor %}
           </div>
        </div>
    </div>
</section>-->
<section class="home topusers">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10 ">
                <h3>Most active users</h3>
                {% for account in top_users[:6] %}
                    <div class="col-sm-offset-2 col-sm-8 col-md-offset-0 col-md-2 topuser">
                            {{account_helper.render_user_thumbnail(account, upload_method, class='img-responsive img-circle')}}
                            <a href="{{url_for('account.profile', name=account.name)}}">{{account.fullname | truncate(20)}}</a>

                    </div>
                {% endfor %}
            </div>
    </div>
</section>
{% endblock %}
