section.home {
    margin-bottom: 40px;

    .main{
        margin-top: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        p:first-child {
            margin-top: 20px;
        }
    }

    img.responsive {
        max-width: 100%;
    }

    .firstfold {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
    }

    .btn-iowa {
        background-color: #6d6259;
        border-radius: 50%;
        border-color: #6d6259;
        font-size: 18px;
        font-weight: bold;
        width: 180px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: conte;
        align-content: center;
    }

    .bubble {
        h1 {
            font-size: 26px;
        }
        -webkit-box-shadow: -6px 6px 45px 0px rgba(168,168,168,1);
        -moz-box-shadow: -6px 6px 45px 0px rgba(168,168,168,1);
        box-shadow: -6px 6px 45px 0px rgba(168,168,168,1);
        position: absolute;
        border-radius: 4px;
        background: $gray-lighter;
        top: 20%;
        right: 0;
        width: 350px;
        padding: 20px;
    }
}

section.home.projects {
    margin-top: 50px;
}

section.home.topusers {
    background: $gray-lighter;
    margin-bottom: 0;
}

section .topuser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;
}


