<footer>
    <div class="container-fluid scifabric">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 text-center"> 
                    <a href="http://unsolved.lib.iastate.edu">Unsolved Histories Projects</a>
                </div>
                <div class="col-sm-3 text-center">
                    <a href="http://di.lib.iastate.edu">ISU Library Digital Initiatives</a>
                </div>

                <div class="col-sm-3 text-center">

                    <a href="http://www.lib.iastate.edu/">ISU Library</a>
                    <!--<p><strong>{{_('Licenses')}}</strong></p>
                    <p><a href="{{url_for('help.license')}}">{{ _('Overview') }}</a></p>
                    <p><a href="{{url_for('help.license', _anchor='projects')}}">{{ _('Projects') }}</a></p>
                    <p><a href="{{url_for('help.license', _anchor='data')}}">{{ _('Data') }}</a></p>
                    <p><a href="{{url_for('help.license', _anchor='content')}}">{{ _('Content') }}</a></p>-->

                </div>

                <div class="col-sm-3 text-center">

                    <a href="http://pybossa.com/?utm_source=IOWA%20new%20server&utm_medium=server&utm_campaign=PYBOSSA%20new%20server">Powered by PYBOSSA</a>
                </div>
            </div>
        </div>
    </div> 
</footer>

